@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-cyrillic_latin-700.ttf") format("truetype");
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v30-cyrillic-ext_latin-regular.ttf') format('truetype'); /
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-500.woff2') format('woff2'), 
       url('../fonts/roboto-v30-cyrillic-ext_latin-500.ttf') format('truetype'); 
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-700.woff2') format('woff2'), 
       url('../fonts/roboto-v30-cyrillic-ext_latin-700.ttf') format('truetype'); 
}

:root{
  --color-defoult-white: #FFFFFF;
  --color-defoult-black: #000000;
  --color-brand-light: #2B7FFF;
  --color-brand-durk: #011C44;
  --color-first-grey: #4A4A4A;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Robot, sans-serif;
  font-weight: 400;
  columns: var(--color-brand-durk);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

.title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: var(--color-brand-durk);
}

.why-us .title,
.procedures .title,
.contacts .title{
  text-align: center;
  margin-bottom: 48px;
}

.header a:hover,
.footer a:hover {
  color: var(--color-brand-light);
  /* font-weight: 700; */
}

/* social icons */
.social-contacts {
  display: flex;
  gap: 32px;
}


/* header section */
.header {
  padding: 32px 0;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header a {
  color: var(--color-brand-durk);
  font-size: 18px;
}

.title .title--modeficator,
.contacts__title .title--modeficator{
  color: var(--color-brand-light);
}

/* hero section */
.hero {
  padding: 125px 0 ;
}

.hero_content {
  max-width: 530px;
  margin-left: 105px;
}

.hero__title {
  color: var(--color-brand-light);
  font-family: Play, serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 81.5%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order_block {
  max-width: 240px;
}

.button {
  color: var(--color-defoult-white);
  border-radius: 32px;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  font-weight: 600;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.button:hover {
   color: var(--color-brand-durk);
   background-color: transparent;
}

.hero__button-about-text {
  color: var(--color-first-grey);
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

/* about section */
.about {
  padding-bottom: 90px;
}

.about_content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.about_content-text {
  padding-top: 40px;
  max-width: 710px;
}

.about .title {
  margin-bottom: 40px;
}

.about .title .title--modeficator {
text-transform: capitalize;
}

.about__text {
  color: var(--color-brand-durk);
  font-size: 22px;
  line-height: 173%;
  margin-bottom: 40px;
  padding-right: 60px;
}

.about__text--bold {
  font-weight: 600;
  text-transform: capitalize;
}

/* .about_content-images {
  max-width: 500px;
} */

/* why_us section */
.why-us {
  padding: 90px 0 48px 0;
}

.why-us__itms {
  color: var(--color-defoult-black);
  font-size: 18px;
  line-height: 133%;
}

.why-us__itms .item {
  padding: 24px 32px;
  max-width: 316px;
  text-align: center;
}

.item-img {
  padding: 5px 0 8px 0;
}

/* procedures section */
.procedures_items {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.procedures_item {
  columns: var(--color-defoult-white);
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}

.procedure_item-text {
  max-width: 150px;
  display: block;
}

.card {
  border: 1px solid black; /*remove*/
  border-radius: 4px 120px;
  flex-shrink: 0;
  flex-basis: calc((100% - 32px) / 3);
  padding: 372px 77px 32px 115px;
}


/* .procedures_item {} */


/* contacts section */
.contacts__title {
  color: var(--color-defoult-white);
  font-size: 22px;
  font-weight: 600;
}

/* footer section */
.footer {
  background: var(--color-brand-durk);
  padding: 56px 0;
}

.footer a {
  color: var(--color-defoult-white);
  font-size: 16px;
}


